<div class="h-screen flex overflow-hidden">
  <.sidebar
    current_user={@current_user}
    current_path={@current_path}
    org={assigns[:org]}
    workspace={assigns[:workspace]}
    session={assigns[:session]}
    can_manage={assigns[:can_manage]}
    local_mode={assigns[:local_mode]}
  />

  <div class="flex flex-1 flex-col overflow-hidden">
    <.dashboard_header
      current_path={@current_path}
      page_action={@page_action}
      breadcrumbs={@breadcrumbs}
    />

    <main class="flex-1 overflow-y-auto">
      <div class="px-4 pt-6 pb-12 sm:px-8 lg:px-8 container mx-auto">
        {@inner_content}
      </div>
    </main>
  </div>
</div>

<.flash_group flash={@flash} />
